.product_img_product_page{
    display:flex;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.product_img_product_page:hover {
    cursor: pointer;
    box-shadow: 2px 2px 5px 1px black;
    translate: 5px;
}

.pics-carasol{
    display: flex;
    flex-direction: column;
    gap: 7px;
    width: fit-content;
}

.the_big_image {
    height: 325px;
    width: 500px;
    object-fit: cover;
}

.image_container {
    display: flex;
    gap: 20px;
    align-items: center;
}

.the_big_image_container {
    width: fit-content;
    height: fit-content;
}

.isUserButtons > button {
    background-color: white;
    border-radius: 50px;
    color: black;
    padding: 6px 40px;
    font-size: 15px;
    margin-top: 10px;
    cursor: pointer;
}
.updateReviewButtons > button {
    background-color: black;
    border-radius: 50px;
    color: white;
    padding: 3px 20px;
    font-size: 15px;
    margin-top: 10px;
    cursor: pointer;
}

.isUserButtons{
    display: flex;
    gap: 10px;
}

.updateReviewButtons{
    display: flex;
    gap: 10px;

}
