.cartProductCardContainer {
    /* border: 1px solid red; */
}

.each-product {
    /* border: 2px solid blue; */
}

.userInteraction{
    /* border: 2px solid black; */
    width: fit-content;
}

.update-remove{
    display: flex;
    gap: 5px;
}

.updateCartButton {
    color:black;
    background-color: white;
    border-radius: 50px;
    padding: 3px 20px;
    font-size: 15px;
    margin-top: 10px;
    cursor: pointer;
}

.removeCartButton {
    background-color: black;
    color: white;
    border-radius: 50px;
    padding: 6px 40px;
    font-size: 15px;
    margin-top: 10px;
    cursor: pointer;
}

.purchaseButtonContainer{
    display: flex;
    justify-content: center;

}

.purchaseButton{
    color:black;
    background-color: white;
    border-radius: 50px;
    padding: 3px 20px;
    font-size: 15px;
    margin-top: 10px;
    cursor: pointer;
}

.product_name{
    font-weight:bolder;
    margin-left: 5px;
}

.quantityxprice{
    font-weight:bolder;
    margin-left: 5px;
}

.quantitySelector{
    font-weight: bold;
}

.totalPrice {
    text-align: end;
}
