.profile-dropdown {
  position: absolute;
  right: 100px;
  border: 1px solid black;
}

.hidden {
  display: none;
}

.navBar {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid red; */
}

.HomeButton{
  display: flex;
  width: 25%;
}

.newProduct {
  width: 25%;
}

.socials {
  width:25%;
}

.UserButton {
  position: fixed;
  border: 1px solid blue;
}

#userButtonProfileThing {
  margin-right: 100px;
}

li {
  list-style-type: none;
}
