.product_card_container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin-top: 100px;
    gap: 1rem;
}

.product_card {
    width: 24%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid black; */
    text-decoration: none;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: rgba(211, 211, 211, 0.059);
    height: 100%;
}

.Home_NavLink{
    display:flex;
    flex-direction: column;
    justify-content: center;
    height: 250px;
    object-fit: cover;
    width: 100%;
    text-decoration: none;
}

.product_card:hover {
    box-shadow: 1px 2px 15px 5px gray;
}

.product_img{
    border-radius: 10px;
    box-sizing: border-box;
    height: 200px;
    width: 100%;
    object-fit: cover;
    background-color: white;
    padding: 5px;

}

.product_price_container{
    display: contents;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    position: relative;
    width: 20%;
    left: 35px;
    bottom: 50px;

    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    text-decoration: none;
    color: white;
    font-size: large;
}

.background_color_behind_images{
    border-top: 2px solid rgba(146, 146, 146, 0.561);
    background-color: rgba(253, 157, 72, 0.617);
    position: absolute;
    top: 108px;
    left: 0;
    right: 0;
    height: 350px;
    z-index: -1;
}

.welcome-back-prompt {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
}
