.socials{
    text-align: center;
    font-size: large;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
}
.Socials-icon {
    display: flex;
    justify-content: space-between;
    width: 100px;
    padding-bottom: 15px;
}

.aboutSocial {
    width: 100%
}
