.userProductsEverything{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

.userProductsContainer {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 400px;
}

.productImg {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.UserProductPic{
    height: 400px;
    width: 400px;
}

.UserProductImg{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.userProfileProduct {
    text-decoration: none;
    color: black;
}

#updateProductUserProfile{
    background-color: white;
    color: black
}
.userButtons > .buttonName {
    background-color: black;
    color: white
}
