.userProductsEverything{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

.userProductsContainer {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 400px;
}

.productImg {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.UserProductPic{
    height: 400px;
    width: 400px;
}

.UserProductImg{
    height: 100%;
    width: 100%;
    object-fit: contain;
    background-color: white;
}

.userProfileProduct {
    text-decoration: none;
    color: black;
}

#updateProductUserProfile{
    background-color: white;
    color: black;
    cursor: pointer;
    padding: 5px 20px;
    border-radius: 15px;
}
.userButtons {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}

.userButtonsReview{
    width: 100%;
    gap: 25px;
}
.userButtons > .buttonName {
    background-color: black;
    color: white;
    cursor: pointer;
    padding: 5px 20px;
    border-radius: 15px;
}
.userUpdateReviewModal > .buttonName{
    background-color: white;
    color: black;
    cursor: pointer;
    padding: 5px 20px;
    border-radius: 15px;
}
.userDeleteReviewModal > .buttonName{
    background-color:black;
    color: white;
    cursor: pointer;
    padding: 5px 20px;
    border-radius: 15px;
}
.userButtonsReview {
    display: flex;
}
